<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static\css.css" rel='stylesheet' type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Lili</title>
    <style>
        a:hover {
            background: rgb(94, 255, 0);
        } 
    </style>
</head>
<body>
    <div id="">
        <div id="header">
            <h1>
                <a href='/' id='atop'>Lili</a>
                Лучшее
            </h1>
        </div>
        <table>
            <tr>
                <td>
                    <ul id="navbar" style="height: 250px;">
                        <li><a href="/" id="">Книги</a></li>
                        <li><a href="#" id="">Войти</a></li>
                        <li><a href="regist" id="">Регистрация</a></li>
                        <li><a href="Contact" id="">Контакты</a></li>
                        <li><a href="O nas" id="">О нас</a></li>
                    </ul>
                </td>
                <td>
                    <a href="Book\Napolskih_Dmitrii_CHetyre_golosa_Tmy_(SI)_Litmir.net_674774_dce11.7z" download="Четыре голоса Тьмы (СИ)">
                        <img id='img' style="width: 150px;" src="static/img/BC4_1585998617.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Lifanteva_Evgeniya_Iotun_Skadi__Delo_o_krache_artefaktov_(SI)_Litmir.net_674772_9f881.7z" download="Дело о краже артефактов (СИ)">
                    <img id='img' style="width: 165px;" src="static/img/BC4_1585996098.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Lifanteva_Evgeniya_Iotun_Skadi__O-L_2_(SI)_Litmir.net_674773_original_47c82.7z" download="О-Л 2 (СИ)">
                    <img id='img' style="width: 175px;" src="static/img/BC4_1585998410.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Dogtor__Otkazavshiisya_ot_imeni_(SI)_Litmir.net_674767_original_ae49e.7z" download="Отказавшийся от имени (СИ)">
                    <img id='img' style="width: 165px;" src="static/img/BC4_1585942344.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Egorova_Alena_Navstrechu_bogam_(SI)_Litmir.net_674768_original_c8a84.7z" download="Навстречу богам (СИ)">
                    <img id='img' style="width: 163px;" src="static/img/BC4_1585942631.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Gorenko_Galina_Petlya_sudby_(SI)_Litmir.net_674786_40907.7z" download="Петля судьбы (СИ)">
                    <img id='img' style="width: 163px;" src="static/img/BC4_1586010525.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Zadvornyi_Ivan_Slaviya_Oficer_(SI)_Litmir.net_674787_846fc.7z" download="Славия: Офицер (СИ)">
                    <img id='img' style="width: 163px;" src="static/img/BC4_1586012146.jpg">
                    </a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="Book\Napolskih_Dmitrii_CHetyre_golosa_Tmy_(SI)_Litmir.net_674774_dce11.7z" download="Четыре голоса Тьмы (СИ)">
                        <img id='img' style="width: 150px;" src="static/img/BC4_1585998617.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Lifanteva_Evgeniya_Iotun_Skadi__Delo_o_krache_artefaktov_(SI)_Litmir.net_674772_9f881.7z" download="Дело о краже артефактов (СИ)">
                    <img id='img' style="width: 165px;" src="static/img/BC4_1585996098.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Lifanteva_Evgeniya_Iotun_Skadi__O-L_2_(SI)_Litmir.net_674773_original_47c82.7z" download="О-Л 2 (СИ)">
                    <img id='img' style="width: 175px;" src="static/img/BC4_1585998410.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Dogtor__Otkazavshiisya_ot_imeni_(SI)_Litmir.net_674767_original_ae49e.7z" download="Отказавшийся от имени (СИ)">
                    <img id='img' style="width: 165px;" src="static/img/BC4_1585942344.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Egorova_Alena_Navstrechu_bogam_(SI)_Litmir.net_674768_original_c8a84.7z" download="Навстречу богам (СИ)">
                    <img id='img' style="width: 163px;" src="static/img/BC4_1585942631.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Gorenko_Galina_Petlya_sudby_(SI)_Litmir.net_674786_40907.7z" download="Петля судьбы (СИ)">
                    <img id='img' style="width: 163px;" src="static/img/BC4_1586010525.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Zadvornyi_Ivan_Slaviya_Oficer_(SI)_Litmir.net_674787_846fc.7z" download="Славия: Офицер (СИ)">
                    <img id='img' style="width: 163px;" src="static/img/BC4_1586012146.jpg">
                    </a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="Book\Napolskih_Dmitrii_CHetyre_golosa_Tmy_(SI)_Litmir.net_674774_dce11.7z" download="Четыре голоса Тьмы (СИ)">
                        <img id='img' style="width: 150px;" src="static/img/BC4_1585998617.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Lifanteva_Evgeniya_Iotun_Skadi__Delo_o_krache_artefaktov_(SI)_Litmir.net_674772_9f881.7z" download="Дело о краже артефактов (СИ)">
                    <img id='img' style="width: 165px;" src="static/img/BC4_1585996098.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Lifanteva_Evgeniya_Iotun_Skadi__O-L_2_(SI)_Litmir.net_674773_original_47c82.7z" download="О-Л 2 (СИ)">
                    <img id='img' style="width: 175px;" src="static/img/BC4_1585998410.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Dogtor__Otkazavshiisya_ot_imeni_(SI)_Litmir.net_674767_original_ae49e.7z" download="Отказавшийся от имени (СИ)">
                    <img id='img' style="width: 165px;" src="static/img/BC4_1585942344.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Egorova_Alena_Navstrechu_bogam_(SI)_Litmir.net_674768_original_c8a84.7z" download="Навстречу богам (СИ)">
                    <img id='img' style="width: 163px;" src="static/img/BC4_1585942631.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Gorenko_Galina_Petlya_sudby_(SI)_Litmir.net_674786_40907.7z" download="Петля судьбы (СИ)">
                    <img id='img' style="width: 163px;" src="static/img/BC4_1586010525.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Zadvornyi_Ivan_Slaviya_Oficer_(SI)_Litmir.net_674787_846fc.7z" download="Славия: Офицер (СИ)">
                    <img id='img' style="width: 163px;" src="static/img/BC4_1586012146.jpg">
                    </a>
                </td>
            </tr>
            
        </table>
           
    </div>
        
</body>
</html>