<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static\css.css" href="img" rel='stylesheet' type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Lili</title>
    <style>
    .form-search {
        display: inline-block;
        border-bottom: 1px solid;
        }
    .form-search input {
        all: unset;
        }
    ul.hr {
        margin: 0; /* Обнуляем значение отступов */
        padding: 4px; /* Значение полей */
        width: 900px;
        }
    ul.hr li {
        display: inline; /* Отображать как строчный элемент */
        margin-right: 5px; /* Отступ слева */
        border: 1px solid #000; /* Рамка вокруг текста */
        padding: 3px; /* Поля вокруг текста */
        font-size: 20px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        }
    a:hover {
            background: rgb(94, 255, 0);
            
        } 
    .ali {
        text-decoration: none;
    }
    </style>
</head>
<body>
    <div id="">
        <div id="header">
            <h1>
                <a href='/' id='atop'>Lili</a>
                Книги
            </h1>
        </div>
        <table>
            <tr>
                <td>
                    <ul id="navbar" style="height: 250px;">
                        <li><a href="Lyshee" class="ali">Лучшее</a></li>
                        <li><a href="#" class="ali">Войти</a></li>
                        <li><a href="regist" class="ali">Регистрация</a></li>
                        <li><a href="Contact" class="ali">Контакты</a></li>
                        <li><a href="O nas" class="ali">О нас</a></li>
                    </ul>
                </td>
                <td>
                    <a  href="static/Book/Napolskih_Dmitrii_CHetyre_golosa_Tmy_(SI)_Litmir.net_674774_dce11.7z" download="Четыре голоса Тьмы (СИ)">
                        
                        <img id='img' style="width: 150px;" src="static/img/BC4_1585998617.jpg">
                    </a>
                </td>
                <td>
                    <a href="static/Book/Lifanteva_Evgeniya_Iotun_Skadi__Delo_o_krache_artefaktov_(SI)_Litmir.net_674772_9f881.7z" download="Дело о краже артефактов (СИ)">
                    <img id='img' style="width: 165px;" src="static/img/BC4_1585996098.jpg">
                    </a>
                </td>
                <td>
                    <a href="static/Book/Lifanteva_Evgeniya_Iotun_Skadi__O-L_2_(SI)_Litmir.net_674773_original_47c82.7z" download="О-Л 2 (СИ)">
                    <img id='img' style="width: 175px;" src="static/img/BC4_1585998410.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Dogtor__Otkazavshiisya_ot_imeni_(SI)_Litmir.net_674767_original_ae49e.7z" download="Отказавшийся от имени (СИ)">
                    <img id='img' style="width: 165px;" src="static/img/BC4_1585942344.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Egorova_Alena_Navstrechu_bogam_(SI)_Litmir.net_674768_original_c8a84.7z" download="Навстречу богам (СИ)">
                    <img id='img' style="width: 163px;" src="static/img/BC4_1585942631.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Gorenko_Galina_Petlya_sudby_(SI)_Litmir.net_674786_40907.7z" download="Петля судьбы (СИ)">
                    <img id='img' style="width: 163px;" src="static/img/BC4_1586010525.jpg">
                    </a>
                </td>
                <td>
                    <a href="Book\Zadvornyi_Ivan_Slaviya_Oficer_(SI)_Litmir.net_674787_846fc.7z" download="Славия: Офицер (СИ)">
                    <img id='img' style="width: 163px;" src="static/img/BC4_1586012146.jpg">
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <hr style="border: none;  background-color: rgb(121, 229, 236);  color: rgb(121, 229, 236);  height: 3px;  width: auto;">
    <div>
        <table id="tbos">
            <tbody>
                <tr>
                    <td>
                        <img id='img' src="static/img/BC4_1585998617.jpg">
                    </td>
                    <td>
                        <div class="">
                            <h2>Четыре голоса Тьмы (СИ)</h2>
                        </div>
                        <p>Автор: Напольских Дмитрий</p>
                        <p>Жанр: Боевая фантастика, Фэнтези, ...</p>
                        <p>Язык книги: Русский | Страниц: 73 </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="Os">
            <p id="pos">Закончилась «странная» война в Диммире,
                ставшая грандиозной бойней для Темных.
                Лучшие маги победившего Лакриса собираются на плавучем острове Дороттайне,
                чтобы познать и остановить саму Тьму, рвущуюся из-за Стены.
                Недавний выпускник Академии Люрет Крор по прозвищу Синий прибывает на остров,
                чтобы принять участие в исследованиях, но попадает в сплетание интриг архимагов,
                борющихся за власть и решающих судьбу мира.
                Его сестра Лайра по прозвищу Красная вступает в сговор с некромантом и идет
                по следу неизвестного темного мага, чья тень убила ее товарищей.
                Какую роль в их судьбе сыграл старший брат Люрет, давно перешедший на сторону Тьмы,
                и кто такой юнга Джеркис? Тьма хорошо хранит свои секреты…
            </p>
            <a href="Book\Napolskih_Dmitrii_CHetyre_golosa_Tmy_(SI)_Litmir.net_674774_dce11.7z" download="Четыре голоса Тьмы (СИ)" id="knopka">Скачать</a>
        <hr id="hr">
        </div>
        <table id="tbos">
            <tbody>
                <tr>
                    <td>
                        <img id='img' src="static/img/BC4_1585996098.jpg">
                    </td>
                    <td>
                        <div class="">
                            <h2>Дело о краже артефактов (СИ)</h2>
                        </div>
                        <p>Лифантьева Евгения Ивановна "Йотун Скади"</p>
                        <p>Жанр: Фэнтези, Стимпанк, ...</p>
                        <p>Серия: Частная практика в Иномирье #1</p>
                        <p>Язык книги: Русский   |    Страниц: 62 </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="miniOs">
            <p id="pos">Все попаданцы как попаданцы. Одни становятся великими воинами или магами, другие дают Сталину из-под кровати дельные советы… Мой попадает в магический мир,
                 но вынужден работать по основной специальности, не получив ни капли способностей к магии.
            </p>
            <a href="Book\Lifanteva_Evgeniya_Iotun_Skadi__Delo_o_krache_artefaktov_(SI)_Litmir.net_674772_9f881.7z" download="Дело о краже артефактов (СИ)" id="knopka">Скачать</a>
            <hr id="hr">
        </div>
        </div>
        <table id="tbos">
            <tbody>
                <tr>
                    <td>
                        <img id='img' src="static/img/BC4_1585998410.jpg">
                    </td>
                    <td>
                        <div class="">
                            <h2>О-Л 2 (СИ)</h2>
                        </div>
                        <p>Автор: Лифантьева Евгения Ивановна "Йотун Скади"</p>
                        <p>Жанр: Фэнтези</p>
                        <p>Серия: Орк #2</p>
                        <p>Язык книги: Русский | Страниц: 62 </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="miniOs">
            <p id="pos">Главный минус в работе врача — то, что все время приходится решать чужие проблемы.
                    Продолжение приключений зелёного психиатра Мышкуна.
            </p>
            <a href="Book\Lifanteva_Evgeniya_Iotun_Skadi__O-L_2_(SI)_Litmir.net_674773_original_47c82.7z" download="О-Л 2 (СИ)" id="knopka">Скачать</a>
            <hr id="hr">
        </div>
        <table id="tbos">
            <tbody>
                <tr>
                    <td>
                        <img id='img' src="static/img/BC4_1585942344.jpg">
                    </td>
                    <td>
                        <div class="">
                            <h2>Отказавшийся от имени (СИ)</h2>
                        </div>
                        <p>Автор: "Dogtor"</p>
                        <p>Жанр: Прочие Детективы</p>
                        <p>Язык книги: Русский | Страниц: 65 </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="Os">
            <p id="pos">Способны ли вы отказаться от своего имени?
                Способны ли вы принять тот факт что вы виновны в чьей то смерти?
                Смогли бы достойно принять свою участь?
                Смогли бы отказаться от своей жизни?
                А если так, то на сколько бы вас хватило?
                Как бы вы поступили оказавшись в неизвестной комнате? В непонятном здании? В непонятной одежде? С людьми которые вас ненавидят?
                Что бы вы предприняли?
                Вы бы начали паниковать?
                Вы бы позвонили в полицию?
                Вы бы звали на помощь?
                Ответ неверный.
                Что бы не случилось.
                Всегда будьте хладнокровны.
            </p>
            <a href="Book\Dogtor__Otkazavshiisya_ot_imeni_(SI)_Litmir.net_674767_original_ae49e.7z" download="Отказавшийся от имени (СИ)" id="knopka">Скачать</a>
            <hr id="hr">
        </div>
        <table id="tbos">
            <tbody>
                <tr>
                    <td>
                        <img id='img' src="static/img/BC4_1585942631.jpg">
                    </td>
                    <td>
                        <div class="">
                            <h2>Навстречу богам (СИ)</h2>
                        </div>
                        <p>Автор: Егорова Алена</p>
                        <p>Жанр: Фэнтези</p>
                        <p>Серия: Целитель #2</p>
                        <p>Язык книги: Русский | Страниц: 65  </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="miniOs">
            <p id="pos">Продолжение истории про лекаря Анджея. Рекомендую сначала прочитать первую книгу, чтобы понимать, о чем идет речь.
                Анджей достиг своей цели, однако он узнал о надвигающейся угрозе, которая может уничтожить не только его мир, но и многие другие. Лекарь решил во что бы то ни стало остановить темных существ.
                Как сочетать в себе миссию исцеления людей и спасение мира? Что выбрать, ведь времени почти не осталось…
            </p>
            <a href="Book\Egorova_Alena_Navstrechu_bogam_(SI)_Litmir.net_674768_original_c8a84.7z" download="Навстречу богам (СИ)" id="knopka">Скачать</a>
            <hr id="hr">
        </div>
        <table id="tbos">
            <tbody>
                <tr>
                    <td>
                        <img id='img' src="static/img/BC4_1586010525.jpg">
                    </td>
                    <td>
                        <div class="">
                            <h2>Петля судьбы (СИ)</h2>
                        </div>
                        <p>Автор: Горенко Галина</p>
                        <p>Жанр: Любовно-фантастические романы</p>
                        <p>Язык книги: Русский | Страниц: 17  </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="width: 700px; height: 160px; margin-left: 300px;">
            <p id="pos">Меня, Катарину Дирт, пригласили стать почетной гостьей ритуала выбора альфы, и я согласилась. Еще бы, ведь там будет тот, кому, как мне казалось, я отдала свое сердце. Но как водится, большое — видится на расстоянии, я сильно ошиблась в своей привязанности, и как только мне удаться выбраться с изнанки мироздания, вотчины демонов, остаться живой и по возможности невредимой, я тут же исправлюсь.
                Обещаю. Если только я смогу избежать казни, доказать свою невиновность и вернуться к нему.
            </p>
            <a href="Book\Gorenko_Galina_Petlya_sudby_(SI)_Litmir.net_674786_40907.7z" download="Петля судьбы (СИ)" id="knopka">Скачать</a>
            <hr id="hr">
        </div>
        <table id="tbos">
            <tbody>
                <tr>
                    <td>
                        <img id='img' src="static/img/BC4_1586012146.jpg">
                    </td>
                    <td>
                        <div class="">
                            <h2>Славия: Офицер (СИ)</h2>
                        </div>
                        <p>Автор: Задворный Иван</p>
                        <p>Жанр: Фэнтези</p>
                        <p>Язык книги: Русский | Страниц: 44 </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="width: 700px; height: 160px; margin-left: 300px;">
            <p id="pos">У каждого в жизни есть мечта. Я уверен, что кто-то мечтал о том, что произошло. Он хотел бы оказаться в своём мире с магией, чтобы в нём было вполне законное рабство. Хотел бы чтобы в нём были домовые, овинники и упыри. Даже мечтал бы создать свой род или клан. Или всем сердцем желал служить людям. Мечтал увеличить собственное могущество любыми средствами. Кто знает чего бы он ещё хотел. Но это он, а я… а я хочу просто выжить вместе со своей семьёй.
            </p>
            <a href="Book\Zadvornyi_Ivan_Slaviya_Oficer_(SI)_Litmir.net_674787_846fc.7z" download="Славия: Офицер (СИ)" id="knopka">Скачать</a>
            <hr id="hr">
        </div>
    </div>
    <div id="header">
        <h1>
            <a href='/' id='atop'>Lili</a>
            Книги
            <ul class="hr" id="uldown">
                <li><a href="/" class="ali">Главная</a></li>
                <li><a href="#" class="ali">Войти</a></li>
                <li><a href="regist" class="ali">Регистрация</a></li>
                <li><a href="Lyshee" class="ali">Лучшее</a></li>
                <li><a href="Contact" class="ali">Контакты</a></li>
                <li><a href="O nas" class="ali">О нас</a></li>
            </ul>
        </h1>
        
    </div>
</body>
</html>
